<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница входа</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="login-container">
        <h1>Вход</h1>
        <div class="messages">
            {% if messages %}
            {% for message in messages %}
            <div class="{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <form class="login-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <button type="submit">Войти</button>
        </form>
    </div>
</div>
</body>
</html>
