<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <h1>Добро пожаловать в Центр анализа данных</h1>
    <p>Мы здесь, чтобы исследовать и анализировать данные для выявления понимания и принятия обоснованных решений.</p>
</div>
</body>
</html>
