<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .container {
            position: relative;
        }
        
        .messages {
            position: fixed;
            top: 65px;
            right: 20px;
            opacity: 0;
            transition: opacity 1s ease;
        }
              
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="welcome-content">
        <h1>Добро пожаловать в Центр анализа данных</h1>
        <p>Мы здесь, чтобы исследовать и анализировать данные для выявления понимания и принятия обоснованных решений.</p>
    </div>
    <div class="messages" id="messagesContainer">
        {% if messages %}
        {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
</body>
</html>
