<div class="navbar">
    {% if request.user.is_authenticated %}
    <div class="nav-left">
        <a href="{% url 'main' %}">Главная</a>
        <div class="dropdown crypto">
            <a href="#" class="dropbtn">Крипта</a>
            <div class="dropdown-content">
                <a href="{% url 'crypto' %}">Binance 1-й алгоритм</a>
                <a href="{% url 'crypto_new' %}">Binance 2-й алгоритм</a>
            </div>
        </div>
        <div class="dropdown crypto">
            <a href="#" class="dropbtn">Акции</a>
            <div class="dropdown-content">
                <a href="{% url 'shares' %}">Twelve Data</a>
                <a href="{% url 'shares_polygon' %}">1-й алгоритм Polygon</a>
                <a href="{% url 'shares_polygon_new' %}">2-й алгоритм Polygon</a>
                <a href="{% url 'shares_yfinance' %}">Yahoo Finance</a>
            </div>
        </div>        
        <a href="{% url 'trade' %}">Торговать</a>
        <a href="{% url 'tradingview' %}">Tradingview</a>
        <div class="dropdown crypto">
            <a href="#" class="dropbtn">Шаблоны</a>
            <div class="dropdown-content">
                <a href="{% url 'template_binance' %}">Binance</a>
                <a href="{% url 'template_twelvedata' %}">Twelve Data</a>
                <a href="{% url 'template_polygon' %}">Polygon</a>
            </div>
        </div>
    </div>
    <div class="nav-right">
        <div class="dropdown stocks">
            <a href="#" class="dropbtn">{{ request.user.first_name }}</a>
            <div class="dropdown-content">
                <a href="{% url 'profile' %}">Профиль</a>
                <a href="{% url 'change_nickname' %}">Изменить имя</a>
                <a href="{% url 'change_password' %}">Изменить пароль</a>
                <a href="{% url 'logout' %}">Выйти</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="nav-left">
        <a href="{% url 'main' %}">Главная</a>
    </div>
    <div class="nav-right">
        <a href="{% url 'login' %}">Войти</a>
    </div>
    {% endif %}
</div>